<div id="topic-{{ topic.id }}" class="clearfix highlight-target">

    <div class="row">
        <div class="large-8 columns">
            <h4 class="one-line" data-tooltip title="{{ topic.title }}">
                <a ng-href="{{topic._links.self.show}}">
                    {{ topic.title }}
                </a>
            </h4>
        </div>
        <div class="large-4 columns text-right" ng-if="!topic.lectureHeld">
            <a class="button tiny radius secondary"
               ng-href="{{topic._links.self.edit}}"
               ng-show="created">
                edit
            </a>

            <a data-tooltip title="retract your vote" class="button tiny radius"
               ng-href="{{topic._links.self.retract_vote}}"
               ng-show="voted">
                <i class="fa fa-thumbs-up"></i>
            </a>
            <a data-tooltip title="vote" class="button tiny radius secondary"
               ng-href="{{topic._links.self.cast_vote}}"
               ng-hide="voted">
                <i class="fa fa-thumbs-up"></i>
            </a>

            <a data-tooltip title="unregister as speaker" class="button tiny radius"
               ng-href="{{topic._links.self.remove_speaker}}"
               ng-show="speaker">
                <i class="fa fa-microphone"></i>
            </a>
            <a data-tooltip title="register as speaker" class="button tiny radius secondary"
               ng-href="{{topic._links.self.add_speaker}}"
               ng-hide="speaker">
                <i class="fa fa-microphone"></i>
            </a>
        </div>
    </div>

    <div class="row">
        <div class="large-6 columns quiet">
            <ul class="inline-list">
                <li data-tooltip
                    title="{{topic.votes.length ? concatUsers(topic.votes) : 'no votes'}}"
                    class="{{topic.votes.length > 4 ? 'text-highlight' : ''}}">
                    <span><i class="fa fa-thumbs-o-up"></i> {{ topic.votes.length }}</span>
                </li>

                <li class="{{topic.comments_count > 4 ? 'text-highlight' : ''}}">
                    <span><i class="fa fa-comments-o"></i> {{ topic.comment_count }}</span>
                </li>

                <li class="{{topic.speakers.length > 0 ? 'text-highlight' : ''}}">
                <span>
                    <i class="fa fa-microphone"></i>
                    {{topic.speakers.length ? concatUsers(topic.speakers) : 'no speaker yet'}}
                </span>
                </li>

                <li class="text-highlight" ng-if="topic.lecture_date">
                    <span><i class="fa fa-calendar"></i> {{topic.lecture_date}}</span>
                </li>
            </ul>
        </div>
        <div class="large-6 columns text-right">
            <span class="quiet">{{topic.created_at|amTimeAgo}}</span>
        </div>
    </div>

</div>
<hr/>