<form action="{#{ path('topic-create') }#}" method="post" data-abide>
    <div>
        {{ form_widget(form.title, {attr: {placeholder: 'title'}}) }}
        <small class="error">you need to enter a title</small>
    </div>
    <div>
        {{ form_widget(form.description, {attr: {placeholder: 'description (markdown allowed)', rows: 8}}) }}
        <small class="error">you need to enter some form of description</small>
    </div>
    <button class="button radius small right radius"><i class="fa fa-plus-square"></i> submit</button>
</form>

