<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>talkly</title>

    <meta name="description" content=""/>
    <meta name="author" content="Tobias Olry <tobias.olry@gmail.com>"/>

    <!--link rel="stylesheet" href="{{ asset('css/app.css') }}"/-->
</head>

<body>

<div id="app" data-base-url="{{ path('homepage') }}">Loading...</div>

<script src="{{ asset('js/app.js') }}"></script>
</body>
</html>

