<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>talkly</title>

    <meta name="description" content=""/>
    <meta name="author" content="Tobias Olry <tobias.olry@gmail.com>"/>
</head>

<body>

<div id="app">Loading...</div>

<script src="{{ asset('build/app.js') }}"></script>
</body>
</html>

