{% extends 'layout.html.twig' %}

{% block content %}

    {% include 'index/dashboard.create.html.twig' with {form: form} %}

    <div class="row" ng-controller="IndexController">

        <div class="column">
            <h3>Open Topics</h3>

            <select ng-model="order" ng-options="opt as opt.label for opt in sorting"></select>
            <span ng-click="reverse=false"><i class="fa fa-sort-asc"></i></span>
            <span ng-click="reverse=true"><i class="fa fa-sort-desc"></i></span>
            <input class="pull-right" type="search" ng-model="search" placeholder="search">

            <hr>

            <div ng-repeat="topic in topics | filter:search | orderBy:order.order:reverse">
                <topic-short topic="topic"></topic-short>
            </div>
            <div class="alert-box secondary" ng-hide="topics.length">
                no topics
            </div>
        </div>

    </div>

{% endblock %}
