@import "settings";
@import "foundation";
@import "font-awesome";
@import "mixins";
@import "compass/css3/transform";
@import "compass/css3/transition";


meta.foundation-data-attribute-namespace { font-family: false; }

.content-orbit li div {
    color: white;
    background: darken($primary-color, 20%);
    padding: 30px 40px;

    h2, h3, p, small {
        color: white;
    }

    h2 i {
        text-shadow: 4px 2px 0 rgba($secondary_color,0.6);
    }
}

.one-line {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.bg-secondary {
    background:$secondary-color;
}

nav { background-color: $topbar-bg-color; }
nav ul { list-style-type: none; }
nav ul li a { color: white; line-height: 3em; display: block; }
nav ul li.active a,
nav ul li.active a:hover { background: white; color: black; }
nav ul li a:hover { background: lighten($topbar-bg-color, 10%); color: white; }


body {
    background-color: $topbar-bg-color;
    padding-top: 3em;
}

main {
    background-color: white;
    padding-top: 30px;
}

header {
    background:$secondary-color;
}

footer {
    color: white;
    padding: 10px 0 30px 0;
}

.highlight-target:target {
    border-left: 4px solid gray;
    padding-left: 2em;
}

.quiet { color: gray; }
.star-text { color: darken($primary-color, 20%); }
.votes-text { padding-top: 0.2em; }

textarea {
    height: auto;
}

[data-toggle] .data-toggle-open { display: none; }
[data-toggle] .data-toggle-closed { display: inherit; }

[data-toggle].toggle-open .data-toggle-open { display: inherit; }
[data-toggle].toggle-open .data-toggle-closed { display: none; }

.headroom {
    @include transition(transform 200ms linear);
}
.headroom--pinned {
    @include transform(translateY(0%));
}
.headroom--unpinned {
    @include transform(translateY(-100%));
}

.markdown pre { margin-bottom: 1em; }
