{% extends 'TobiasOlryTalklyBundle::layout.html.twig' %}

{% block content %}

    {% include 'TobiasOlryTalklyBundle:Index:dashboard.create.html.twig' with {form: form} %}

    <div class="row" ng-controller="IndexController">

        <div class="column">
            <h3>Open Topics</h3>

            <div class="row collapse">
                <hr />
                <div class="filter large-3 columns">
                    <!-- data inserted by backbone -->
                </div>
                <div class="topics large-9 columns">
                    no topics
                    <!-- data inserted by backbone -->
                </div>
            </div>
        </div>

    </div>

{% endblock %}

{% block additional_js %}
<script src="{{ asset('js/app/model.js') }}"></script>
<script src="{{ asset('js/app/views.js') }}"></script>
<script src="{{ asset('js/app/controllers.js') }}"></script>

<script type="text/javascript">
    var view = new SearchView();
</script>
{% endblock %}
