{% extends 'TobiasOlryTalklyBundle::base.html.twig' %}

{% block body %}
    <main>
        <div class="row">
            <div class="medium-6 medium-centered large-4 large-centered columns">

                {% if error %}
                    <div data-alert class="alert-box alert">
                        {{ error.messageKey|trans(error.messageData, 'security') }}
                        <a href="#" class="close">&times;</a>
                    </div>
                {% endif %}

                <form action="{{ path('login_check') }}" method="post">
                    <div class="row column log-in-form">
                        <h4 class="text-center">Log in with you email account</h4>
                        <label for="username">Username / E-Mail:</label>
                        <input type="text" id="username" name="_username" value="{{ last_username }}"/>

                        <label for="password">Password:</label>
                        <input type="password" id="password" name="_password"/>

                        <button type="submit">Log In</button>
                    </div>
                </form>

            </div>
        </div>

    </main>

{% endblock %}