{% extends 'TobiasOlryTalklyBundle:Mail:layout.html.twig' %}

{% block content %}
<h3>{{ message.subject }}</h3>
<h3>Details</h3>
<p>{{ message.details|markdown }}</p>
<p>kind regards,<br />&nbsp;&nbsp;&nbsp;talkly mailrobot</p>
{% endblock %}
