{% extends 'layout.html.twig' %}

{% block content %}
<div class="slider">
    <div class="row">
        {% include 'topic/slider.html.twig' with {topics: topics|slice(0,3)} %}
    </div>
</div>

{% include 'index.dashboard.create.html.twig' with {form: form} %}

<div class="row">

    <div class="large-4 small-12 columns">

        <h3>Last Submissions</h3><hr>

        {% for topic in last_submissions %}
        <div class="quiet"><span title="{{ topic.createdAt|date }}" data-tooltip>{{ topic.createdAt|time_ago_in_words }}</span></div>
        <h4 class="one-line">
            <a href="#topic-{{ topic.id }}">{{ topic.title }}</a>
        </h4><br />
        {% endfor %}
    </div>

    <div class="large-8 small-12 columns">

        <h3>Open Topics <span class="quiet">[highest ranked first]</span></h3><hr>

        {% for topic in topics %}
            {% include 'topic/display.short.html.twig' with {topic: topic} %}
        {% endfor %}

    </div>

</div>

{% endblock %}
