{% extends 'layout.html.twig' %}

{% block content %}
<div class="row">
    {% include 'topic/slider.html.twig' with {topics: topics|slice(0,2)} %}
</div>

{% include 'index.dashboard.create.html.twig' with {form: form} %}

<div class="row">

    <div class="large-4 small-12 columns">

        <h4>Last Submissions</h4><hr>

        {% for topic in last_submissions %}
            {% include 'topic/display.short.html.twig' with {topic: topic} %}
        {% endfor %}
    </div>

    <div class="large-8 small-12 columns">

        <h4>Open Topics [highest ranked first]</h4><hr>

        {% for topic in topics %}
            {% include 'topic/display.long.html.twig' with {topic: topic} %}
        {% endfor %}

    </div>

</div>

{% endblock %}
