<blockquote>
    <div class="markdown">{{ markdown(comment.commentText) }}</div>
    <cite>
        <i class="fa fa-user"></i> {{ comment.createdBy }}
        <i class="fa fa-clock-o"></i> {{ comment.createdAt|time_ago_in_words }}
    </cite>
</blockquote>

