<div class="clearfix panel">
    <h4>
        {{ topic.title }}
        <small><abbr title="{{ topic.createdAt|date }}">{{ topic.createdAt|time_ago_in_words }}</abbr></small>
    </h4>
    <p class="text-right"><a href="#topic-{{ topic.id }}">&raquo; Details</a></p>
</div>

