<div id="topic-{{ topic.id }}" class="clearfix highlight-target">

    {% for message in app.session.getFlashBag.get('topic-' ~ topic.id ~ '-success') %}
    <div data-alert class="alert-box success">{{ message }}<a class="close" href="#">&times;</a></div>
    {% endfor %}

    <div class="row">

    <div class="columns small-1">
        {% include 'topic/votes.html.twig' %}
    </div>

    <div class="columns small-11">

        {% if not topic.lectureHeld %}
        <div class="right">
            {% include 'topic/controls.html.twig' %}
        </div>
        {% endif %}

        <h4><a href="{{ path('topic-show', {id: topic.id}) }}">
            {{ topic.title }}
        </a></h4>
        <div class="quiet">
        {% include 'topic/details.html.twig' %}
        </div>

    </div>

    </div>

</div> <hr/>

